html {
    background: url('../images/bg-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
button {
    height: 200px;
    width: 200px;
    box-shadow: 0 0 2px;
    background-color: burlywood;
    outline-style: solid;
    outline-width: 4px;
}
hr {
    position: fixed;
    top: 50%;
    width: 100%;
    padding: 5px;
    background-color: black;
}
p {
    font-size: 200%;
}
.bottom-box{
    margin-top: 5%;
}
.box {
    width: 100%;
    position: relative;
}
.guideline-text {
    position: absolute;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    left: 41.36%;
    font-style: italic;
    padding: 7px;
    outline-style: solid;
    outline-width: 4px;
    box-shadow: 0 0 2px;
    background-color: burlywood;
    height: 85px;
    width: 260px;
    /* background-image: url('../images/scroll-bg.png');
    background-size: cover; */
}
.mini-box {
    width: 33%;
}
.misc-box {
    position: absolute;
    height: 220px;
    width: 600px;
    font-weight: bolder;
    font-size: 2rem;
    overflow-y: hidden;
    z-index: 1;
}
.left-box {
    box-shadow: 0 0 2px;
    background-color: burlywood;
    outline-style: solid;
    outline-width: 4px;    
    z-index: 0;
}
.right-box {
    box-shadow: 0 0 2px;
    background-color: burlywood;
    outline-style: solid;
    outline-width: 4px;    
    z-index: 0;
}
.status-box {
    position: absolute;
    width: 600px;
    height: 270px;
    background-color: white;
    left: 32%;
    bottom: 2.5%;
    padding: 7px;
    outline-style: solid;
    outline-width: 4px;
    box-shadow: 0 0 2px;
    flex-wrap: wrap;
}
#misc1{
    bottom: 31%;
    left: 1%;
    width: 260px;
    height: 85px;
    text-align: start;
    line-height: 40px;
}
#misc2 {
    bottom: 31%;
    right: 1%;
    width: 260px;
    height: 85px;
    text-align: end; 
    line-height: 40px;
}
#misc3 {
    bottom: 40%;
    left: 1%;
    width: 260px;
    height: 50px;
    text-align: start;
}
#misc4 {
    bottom: 40%;
    right: 1%;
    width: 260px;
    height: 50px;
    text-align: end;
}
.select-box {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: 145px; 
}
#fight-btn{
    position: fixed;
    left: 46%;
    top:38%;
    height: 100px;
    width: 100px;
}
#reset-btn{
    position: fixed;
    left: 46%;
    bottom:35%;
    height: 100px;
    width: 100px;
}
#char1{
    position: fixed;
    bottom: 5%;
    left: 3%;
}
#char2{
    position: fixed;
    bottom: 5%;
    left: 43.5%;
    margin: auto;
}
#char3{
    position: fixed;
    bottom: 5%;
    right: 3%;
}
#pick1 {
    position: fixed;
    height: 371px;
    width: 250px;
    top: 5%;
    left: 5%;
    border-style: solid;
    border-width: 5px;
    background: black;
}
#defender {
    position: absolute;
    height: 490px;
    width: 500px;
    top: -75px;
    left: -115px;
    border-style: solid;
    border-width: 5px;
    background: black;
    z-index: 1;
    opacity: 0;
}
#pick2 {
    position: fixed;
    height: 371px;
    width: 250px;
    top: 5%;
    right: 5%;
    border-style: solid;
    border-width: 5px;
    background: black;
}
#fighter {
    position: absolute;
    height: 490px;
    width: 500px;
    top: -75px;
    right: -115px;
    border-style: solid;
    border-width: 5px;
    background: black;
    z-index: 1;
    opacity: 0;
}
